<main>
    {{#if errorMessage }}
        <div class="user-message user-message--error">{{errorMessage}}</div>
    {{/if}}
    <form class="comment-form" action="/comments/create-comment/{{postId}}" method="POST">
        <div class="form-control">
            <label for="comment">Comment</label>
            <input type="text" name="comment" id="comment" value="{{comment.comment}}">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn" type="submit">Comment</button>
        <input type="hidden" name="commentId" value="{{comment._id}}">
        <input type="hidden" name="postId" value="{{postId}}">
    </form>
</main>